.container {
  text-align: center;
}

.header {
  margin-block-end: 8px;
}

.body {
  color: var(--color-text-comment);
  font-size: 14px;
  line-height: 20px;
}

.footer {
  margin-block-start: 24px;
}
