.body {
  display: grid;
  grid-template-columns: repeat(6, minmax(80px, 1fr));
  gap: 32px;

  @media (max-width: 960px) {
    display: flex;
    flex-flow: column;
  }
}

.header {
  &:empty {
    display: none;
  }
}
