@import '@/styles/_mixins';

.container {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: stretch;
  gap: 0px;
  flex-flow: column;
}

.header {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 16px;
  font-weight: 400;
  text-align: start;
  background: rgb(var(--color-dark-15));
  border-top: 1px rgb(var(--color-dark-30)) solid;
  color: rgb(var(--color-light));
}

.body {
  flex: 1 1 auto;
  overflow: auto;
  width: 100%;
}

.table {
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 1px 0;
  word-break: normal;
  display: table;

  &.loading {
    pointer-events: none;

    .content > * {
      @include element-preloader-animated;
      min-width: 2ch;
    }
  }
}

.tcell {
  box-sizing: content-box;
  display: table-cell;
  vertical-align: middle;
  transition: 0.25s ease;
  padding-left: 8px;
  padding-right: 8px;
}

.trow {
  color: inherit;
  text-decoration: none;
  display: table-row;
  & > * {
    padding-left: 8px;
    padding-right: 8px;
  }

  & > :first-child {
    padding-left: 16px;
  }

  & > :last-child {
    padding-right: 16px;
  }

  &[data-loading] {
    pointer-events: none;

    .content > * {
      @include element-preloader-animated;
      min-width: 2ch;
    }
  }
}

.thead {
  display: table-header-group;
  font-size: 14px;
  line-height: 16px;
  position: sticky;
  top: 0;
  z-index: 10;

  .tcell {
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    height: 1em;
  }
}

.tbody {
  display: table-row-group;
  background: var(--color-dark-80);
  color: var(--color-light);

  .tcell {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.tbodyrow {
  background: none;
  transition: 0.25s ease;
  animation: reveal 0.25s ease forwards;

  @keyframes reveal {
    from {
      opacity: 0;
      transform: scale(0.95, 0.9);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  &[data-href] {
    cursor: pointer;
  }

  &:hover {
    .tcell {
      background-color: rgb(var(--color-dark-15)) !important;
    }
  }
}

.th {
  font-weight: 400;
  text-align: start;
  background: rgb(var(--color-dark-15));
  border-top: 1px rgb(var(--color-dark-30)) solid;
  color: rgb(var(--color-light));
  min-width: max-content;
}

.number {
  text-align: end;
}

.center {
  text-align: center;
}
