.add-wallet{
    gap:unset;
    padding-bottom:276px;
    position:relative;

    @media(max-width:640px){
        padding-bottom: 180px;
    }

    .section__subtitle{
        max-width:918px;
        text-align: center;
        margin: 40px auto;
    }

    &::after{
        content:'';
        display:block;
        position:absolute;
        background-image: url('/assets/img/shark.svg');
        bottom:0;
        left:50%;
        transform: translate(-50%, 0);
        width:410px;
        height:239px;

        @media(max-width:640px){
            width:278px;
            height:162px;
            background-size: 100%;
        }
    }
}