@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,500;1,400&family=Sora:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0 transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $color-bg-50 transparent;

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;

  @media (max-width: 768px) {
    width: 8px;
    height: 8px;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 4px $color-bg-50;
  border-radius: 8px;
  border: 4px transparent solid;

  @media (max-width: 768px) {
    border: 2px transparent solid;
  }
}

::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

html {
  margin: 0;
  padding: 0;
  min-width: 320px;

  background: $color-bg-120;
  color: $color-text;

  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  overflow: overlay;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

html,
body {
  scroll-behavior: smooth;
}

::selection {
  background: $color-text-light;
  color: $color-text;
}

blockquote {
  margin: 0 auto;
  padding: 0;
  border: 1px #12b886 solid;
  border-radius: 16px;
  padding: 16px 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;

  @media(max-width:640px){
    display:none;
  }
}

a {
  transition: all 0.25s ease;
  text-decoration: none;
  color: $color-style-purple;

  &:hover,
  &:focus {
    color: $color-style-purple-hover;
  }
}

.purple {
  color: #6046ff;
}

.green {
  color: #12b886;
}

small {
  font-size: 12px;
  line-height: 20px;
}

iframe {
  display: block;
}

:where(img) {
  background: none;
  position: relative;
  overflow: hidden;
  font-size: 0;
  max-width: 100%;
  object-fit: contain;
  object-position: center;

  &:before {
    display: none;
  }

  &:after {
    content: "?";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-bg-100
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ff646d' fill-rule='evenodd' d='M8.22 8.22a1 1 0 0 1 1.42 0L16 14.6l6.36-6.37a1 1 0 1 1 1.42 1.42L17.4 16l6.37 6.36a1 1 0 1 1-1.42 1.42L16 17.4l-6.36 6.37a1 1 0 0 1-1.42-1.42L14.6 16 8.22 9.64a1 1 0 0 1 0-1.42Z' clip-rule='evenodd'/%3E%3C/svg%3E")
      center center no-repeat;
    background-size: 16px 16px;
  }
}

:where(a[href^="https://t.me/"]),
:where(a[href^="https://twitter.com/"]),
:where(a[href^="https://discord.gg/"]),
:where(a[href^="https://arc/"]),
:where(a[href^="https://twitch/"])
{
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0 0;
    width: 24px;
    height: 24px;
    background: var(--_color) padding-box center center no-repeat;
    background-size: 16px;
    border-radius: 50%;
  }
}

:where(a[href^="https://t.me/"])
{
  &:before {
    --_color: #6046FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16' width='40' height='40'%3E%3Cpath d='m1.73 7.75 3 1.19 1.16 3.95c.07.25.36.34.56.18l1.66-1.44a.47.47 0 0 1 .61-.02l3.01 2.32c.21.16.5.04.56-.23l2.2-11.25c.06-.29-.21-.53-.47-.42L1.72 7.05c-.3.13-.3.58.01.7Zm3.97.56 5.85-3.82c.1-.07.22.08.12.17L6.85 9.42a1.1 1.1 0 0 0-.3.63l-.17 1.3a.15.15 0 0 1-.3.02L5.44 9a.65.65 0 0 1 .26-.7Z'/%3E%3C/svg%3E");
  }
}

:where(a[href^="https://twitter.com/"])
{
  &:before {
    --_color: #6046FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 40 40' width='40' height='40'%3E%3Cpath fill-rule='evenodd' d='M21.74 16.33c-.07 0-1.95-2.33-4.17-5.16L13.53 6H8.77C6.14 6 4 6.02 4 6.05c0 .03 2.78 3.62 6.17 7.95 3.4 4.35 6.16 7.97 6.14 8.03-.03.05-2.81 2.97-6.17 6.45A312.69 312.69 0 0 0 4 34.92c0 .05.6.08 1.36.08H6.7l5.3-5.52c2.92-3.03 5.4-5.58 5.5-5.66.13-.1 1.56 1.58 4.6 5.5l4.42 5.66 4.75.02c2.6 0 4.73-.05 4.73-.13 0-.07-2.94-3.87-6.52-8.45l-6.52-8.32.83-.85c.47-.45 2.84-2.9 5.25-5.42l5.03-5.21.6-.62h-2.83l-4.99 5.17a144.7 144.7 0 0 1-5.11 5.16ZM18 20.72A2187.5 2187.5 0 0 1 8.3 8.23c-.13-.2.24-.23 2.03-.23h2.16l9.63 12.33c5.29 6.79 9.65 12.42 9.67 12.5.04.1-.76.17-2.09.17l-2.13-.02L18 20.72Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  }
}

:where(a[href^="https://discord.gg/"])
{
  &:before {
    --_color: #6046FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16' width='40' height='40'%3E%3Cpath d='M12.86 3.8A12.59 12.59 0 0 0 9.97 3a7.07 7.07 0 0 0-.37.67 12.08 12.08 0 0 0-3.2 0A6.87 6.87 0 0 0 6.03 3a12.55 12.55 0 0 0-2.9.8 9.62 9.62 0 0 0-2.07 7.1 12.23 12.23 0 0 0 3.54 1.6c.29-.35.54-.71.76-1.1a7.94 7.94 0 0 1-1.2-.5l.3-.2c2.3.93 4.8.93 7.08 0l.3.2c-.39.2-.79.37-1.2.5.22.39.47.76.75 1.1a12.2 12.2 0 0 0 3.55-1.6c.29-2.7-.5-5.03-2.08-7.1ZM5.67 9.48a1.25 1.25 0 1 1 0-2.52c.7 0 1.27.57 1.26 1.26a1.25 1.25 0 0 1-1.26 1.26Zm4.66 0a1.25 1.25 0 1 1 0-2.52c.7 0 1.27.57 1.25 1.26 0 .7-.55 1.26-1.25 1.26Z'/%3E%3C/svg%3E");
  }
}

:where(a[href^="https://arc/"])
{
  &:before {
    --_color: #6046FF;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2234%22%20height%3D%2232%22%20viewBox%3D%220%200%2034%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.83432%200H27.7633V32H24.5444V17.3419H24.5128C24.1571%2013.2908%2020.8392%2010.1161%2016.7988%2010.1161C12.7584%2010.1161%209.44058%2013.2908%209.08483%2017.3419H9.05326V32H5.83432V0Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M0%204.54194L1.30769%209.08387H2.4142V27.4581C1.85865%2027.4581%201.40828%2027.9202%201.40828%2028.4903V29.729H1.2071C0.651548%2029.729%200.201183%2030.1912%200.201183%2030.7613V32H11.4675V30.7613C11.4675%2030.1912%2011.0171%2029.729%2010.4615%2029.729H10.2604V28.4903C10.2604%2027.9202%209.80999%2027.4581%209.25444%2027.4581H8.04734V4.54194H0Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M24.7456%2027.4581C24.19%2027.4581%2023.7396%2027.9202%2023.7396%2028.4903V29.729H23.5385C22.9829%2029.729%2022.5325%2030.1912%2022.5325%2030.7613V32H33.7988V30.7613C33.7988%2030.1912%2033.3485%2029.729%2032.7929%2029.729H32.5917V28.4903C32.5917%2027.9202%2032.1414%2027.4581%2031.5858%2027.4581V9.08387H32.6923L34%204.54194H25.9527V27.4581H24.7456Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
  }
}

:where(a[href^="https://twitch/"])
{
  &:before {
    --_color: #6046FF;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.75%206.261L3.0978%200H35.1778V21.9146L25.787%2031.302H18.7454L14.0524%2036H9.3546V31.302H0.75V6.261ZM32.0485%203.12852H6.22572V25.8253H13.2721V30.5168L17.9639%2025.8253H26.5698L32.0485%2020.3462V3.12852Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M17.9621%2018.7828H14.832V9.39258H17.9621V18.7828ZM26.568%2018.7828H23.4386V9.39258H26.568V18.7828Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
  }
}

:where(a[href^="https://twitch/"]:hover),
:where(a[href^="https://arc/"]:hover),
:where(a[href^="https://discord.gg/"]:hover),
:where(a[href^="https://twitter.com/"]:hover),
:where(a[href^="https://t.me/"]:hover){
  &:before {
    --_color: #74BCFF;
  }
}

:where(ul:not([class])) {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  list-style: none;
}

:where(li:not([class])) {
  margin: 1.5em 0;
  padding: 0 0 0 22px;

  &::before {
    content: "";
    float: left;
    width: 6px;
    height: 6px;
    background: #9488f0;
    border-radius: 3px;
    margin: 0.55em 16px 0 -22px;
  }
}
