.chat {

  &-entry {
    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 48px;
    text-align:left;

    &:after,
    &__avatar {
      width: 186px;
      
      @media (max-width:576px ) {
        width: 93px 
      }
    }




    @media (min-width:860.1px ) {
      &:after,
      &__avatar {
        content: '';
      }  
    } 

    &__avatar {
      display: flex;
      margin-bottom: -16px;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;

      &-img {
        height: 158px;
      }

      &:after {
        @media (min-width:576.1px ) {
            content: '';
            position: absolute;
            top: 20px;
            border: 12px transparent solid;
            border-top-color: #232A32;
        }
      }


      @media (max-width:576px ) {
        transform: scaleX(-1);
        
        &-img {
          height: 79px;
        }
      }
    }

    &__body {
      flex: 1 0 0;
      max-width: 688px;
    }

    
    &--answer {
      background: #2C353F;
      text-align: right;
      flex-direction: row-reverse;

      @media(max-width:576px) {
        flex-direction: row;
      }
    }

    &--question {
      @media(max-width:576px) {
        flex-direction: row-reverse;
      }
    }

    &--question & {
      &__avatar {
        &:after {
          right: -48px;
          border-right-color: #232A32;
        }

        @media(max-width:576px) {
         margin-left: -141px;
         left: -16px;
        }
      }
    }

    &--answer & {
      &__avatar {
        justify-content: flex-start;

        &:after {
          left: -48px;
          border-left-color: #232A32;
        }

        @media(max-width:576px) {
         margin-right: -141px;
         right: -16px;
        }
      }
    }
  }

  &-bubble {
    display: inline-flex;
    max-width: 100%;
    flex-flow: column;
    padding: 24px;
    gap: 8px;
    background: #232A32;
    border-radius: 16px;

    &__header {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      color: #9488F0
    }

    &__body {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;

      .date {
        color: #12B886
      }
    }

    &__footer {
      margin-top: 8px;
    }

    &__link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      padding: 8px 16px;
      font-family: Sora;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      text-align: center;
      background: #46A6FF;
      color: #fff;
      border-radius: 8px;
      
      &:focus-visible,
      &:hover {
        color: #fff;
        background: #afa5fb;
      }

      &--primary {
        background: #12B886;

      &:focus-visible,
      &:hover {
         background: #3aeab5;
      }

      }

    }
  }
}