.color-blocks-guru{
    display:flex;
    gap: 108px;
    padding: 0 147px;
    align-items: flex-start;
    margin-bottom:-16px;
    margin-top:24px;
    position:relative;

    &::after{
        content: '';
        position: absolute;
        top: 79px;
        left: 46.3%;
        width: 102px;
        height: 1px;
        background: linear-gradient(to right, #9488F0, #12B886);
    }

    .color-block{
        padding:16px 24px;
        border-radius:16px;
        position:relative;
        background-color: #12161C;
        flex:1;
        font-family: "IBM Plex Sans Condensed", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        box-sizing: border-box;
    }

    .violet-block{
        border:1px solid $color-style-purple;

        &::after{
            content:'';
            position:absolute;
            width:12px;
            height:12px;
            border-radius: 6px;
            background-color: $color-style-purple;
            top:73px;
            right:-6px;
        }
    }

    .green-block{
        border:1px solid $color-style-green;

        &::before{
            content:'';
            position:absolute;
            width:12px;
            height:12px;
            border-radius: 6px;
            background-color:$color-style-green;
            top:73px;
            left:-6px;
        }
    }
}