.possibilities-section{
    padding:80px 32px;
    background-color:$color-bg-100;
    position: relative;

    .text-block{
        max-width:688px;
        text-align: center;
        margin:64px auto;
        p{
            font-family: "IBM Plex Sans Condensed", sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;

        }
    }

    .possibilities{ 
        flex: 0 0 100%;
        &__list {
            display: flex;
            gap: 24px;
         //   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            margin: 0;
            padding: 0;
            list-style: none;
          }
    
          &__item{
            flex:1;
          }

        .possibilities-entry{
            min-height: 100%;
            display: flex;
            flex-flow: column;
            gap: 16px;
            background: #232a32;
            padding: 24px;
            border-radius: 16px;

            &__title{
                font-family: "IBM Plex Sans Condensed", sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
                color: $color-text-ultralight;

            }
            &__value{
                font-family: "Sora", sans-serif;
                font-size: 40px;
                font-weight: 700;
                line-height: 40px;
                text-align: left;   
            }
        }
        .gray{
            color:rgb(70, 81, 96);
            font-weight: normal;
        }
    }

    &::after{
        content:'';
        display: block;
        position:absolute;
        background-image: url('/assets/img/robot-money.svg');
        width:225px;
        height:178px;
        bottom:-23px;
        right: 16%;
    }
}