.container {
  padding: 16px;
  background: var(--color-dark-100);
  border-radius: 16px;
  color: var(--_color);
  width: max-content;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.info {
  --_color: var(--color-info);
}

.danger {
  --_color: var(--color-danger);
}

.success {
  --_color: var(--color-success);
}

.warn {
  --_color: var(--color-warn);
}

.prompt {
  --_color: var(--color-prompt);
}

.body {
  color: var(--color-dark-10);
  font-size: 12px;
  line-height: 16px;
}

.title {
  color: var(--_color);
}
