.container {
  display: flex;
  flex-flow: column;
  gap: 16px;
  flex: 1 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.tag {
  composes: radii from '@/styles/_common.scss';
  border-radius: max(var(--radii) / 2, var(--design-button-round, 0) * 28px);
  background: var(--color-dark-60);
  color: var(--color-light);
  font-weight: normal;

  &:hover,
  &:focus-visible {
    background: var(--color-dark-50);
  }
}
