.container {
  flex: 1 0 auto;
  display: grid;
  place-items: center;
}

.panel {
  max-width: 640px;
  min-width: min(100%, 400px);
}

.link {
  display: flex;
  flex-flow: column;
  gap: 16px;
  align-items: center;
  color: rgb(var(--color-comment));
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: rgb(var(--color-hover));
  }
}

.image {
  background: #fff;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}