.container {
  padding: 16px 16px 24px;
  box-shadow: 0px -15px 30px 0px rgba(0, 0, 0, 0.27);
  border-radius: 24px 24px 0 0;
  background: var(--_actionPanel-background, var(--actionPanel-background));
  position: sticky;
  bottom: -24px;
  margin: auto calc(-1 * var(--page-padding)) -24px;
}

.dark {
  &--100 {
    --actionPanel-background: var(--color-dark-100);
  }
  &--80 {
    --actionPanel-background: var(--color-dark-80);
  }
  &--60 {
    --actionPanel-background: var(--color-dark-60);
  }
  &--40 {
    --actionPanel-background: var(--color-dark-40);
  }
  &--30 {
    --actionPanel-background: var(--color-dark-30);
  }
  &--20 {
    --actionPanel-background: var(--color-dark-20);
  }
  &--10 {
    --actionPanel-background: var(--color-dark-10);
  }
}
