.container {
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 16px;
  position: relative;

  // @supports (animation-timeline: scroll()) {
  //   position: sticky;
  //   top: -24px;
  //   z-index: 100;
  //   animation: stick linear forwards;
  //   animation-timeline: scroll();
  //   animation-range: 0 24px;
  // }

  // @keyframes stick {
  //   75% {
  //     margin-inline: 0;
  //     padding-inline: 16px;
  //     border-radius: 16px;
  //     box-shadow: none;
  //   }

  //   100% {
  //     margin-inline: -16px;
  //     padding-inline: 32px;
  //     border-radius: 0 0 16px 16px;
  //     box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.27);
  //   }
  // }
}

.link {
  flex: 0 0 48px;
}

.avatar {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.explorer {
  position: relative;
  z-index: 1;
}

.title {
  color: var(--color-text-comment);
  margin-inline-end: auto;
}
