<section class="section additional-resources">
    <div class="section__header">
        <h2 class="section__title">Additional Resources</h2>
    </div>
    <div class="tokens">
        <div class="subtitle">Token:</div>
        <ul class="tokens__list">
            {%- for token in site.tokens -%}
            <li class="token__item">
                <a href="{{ token.url }}"  class="token_link">{{token.name}}</a>
            </li>
            {%- endfor -%}
          </ul>
    </div>
    <div class="links tokens">
        <div class="subtitle">Our links</div>
        <ul class="tokens__list">
            <li class="token__item">
                <a href="/"  class="token_link">Framework Github</a>
            </li>
            <li class="token__item">
                <a href="/"  class="token_link">Opensea Season 1</a>
            </li>
            <li class="token__item">
                <a href="/"  class="token_link">Opensea Season 2</a>
            </li>
            <li class="token__item">
                <a href="/"  class="token_link">Docs</a>
            </li>
            <li class="token__item">
                <a href="/"  class="token_link">Litepaper</a>
            </li>
            <li class="token__item">
                <a href="/"  class="token_link">White paper</a>
            </li>
            <li class="token__item">
                <a href="/"  class="token_link">Overview</a>
            </li>
            <li class="token__item">
                <a href="/"  class="token_link">AMA</a>
            </li>
            <li class="token__item big-item">
                <a href="/"  class="token_link">Guru Enlightenment Network Deck</a>
            </li>
            <li class="token__item">
                <a href="/"  class="token_link">AMA YT</a>
            </li>
            <li class="token__item">
                <a href="/"  class="token_link">CTO’s Mirror</a>
            </li>
          </ul>
    </div>
</section>