<section class="section section--blogs">
    <div class="blogs">
        <div class="blog-post">
            <a href="https://youtu.be/qozRUEnTIuI">
                <div class="image-part">
                    <img src="/assets/img/blog1.svg" alt="blog1">
                    <div class="title">What is Guru Network?</div>
                    <div class="play">
                        <div class="back"></div>
                        <div class="arrow"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="blog-post">
            <a href="https://youtu.be/TqpbNtYWt4o">
                <div class="image-part">
                    <img src="/assets/img/blog2.svg" alt="blog2">
                    <div class="title">What’s DexGuru V2</div>
                    <div class="play">
                        <div class="back"></div>
                        <div class="arrow"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="blog-post">
            <a href="https://youtu.be/-hlJlh-W3YY">
                <div class="image-part">
                    <img src="/assets/img/blog3.svg" alt="blog3">
                    <div class="title">How Guru Network works?</div>
                    <div class="play">
                        <div class="back"></div>
                        <div class="arrow"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>