
<div class="chat">
  <div class="chat-entry chat-entry--question">
    <div class="chat-entry__avatar">
      <img src="/assets/img/chat/avatar_from.svg" class="chat-entry__avatar-img" />
    </div>
    <div class="chat-entry__body">
      <div class="chat-bubble">
        <div class="chat-bubble__header">
        Have you seen DexGuru Version 2?
        </div>
        <div class="chat-bubble__body">Generated Art AI tech – orchestrating models for vision, chat and  generative tasks – on their Orchestration Node within the Guru Network.
        </div>
        <div class="chat-bubble__footer">
        <a href="https://v2.dex.guru" class="chat-bubble__link chat-bubble__link--primary">Go to v2.dex.guru</a>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-entry chat-entry--answer">
    <div class="chat-entry__avatar">
      <img src="/assets/img/chat/avatar_to.svg" class="chat-entry__avatar-img" />
    </div>
    <div class="chat-entry__body">
      <div class="chat-bubble">
          <div class="chat-bubble__header">
          Yes! And excited to participate!
          </div>
          <div class="chat-bubble__body">Have you used tGURU faucet?</div>
          <div class="chat-bubble__footer">
          <a href="https://v2.dex.guru/season-pass/faucet" class="chat-bubble__link">Guru Network Faucet</a>
          </div>
      </div>
    </div>
  </div>
</div>
