<section class="section section--dark">
    <div class="section__header">
        <h2 class="section__title">GURU <span class="ai">Network</span></h2>
    </div>
    <div class="color-blocks-guru">
        <div class="violet-block color-block">
            The Guru Network bridges the gap between AI-driven user flows, on-chain and off-chain activities using blockchain business process automation (BBPA) definitions. 
        </div>
        <div class="green-block color-block">
            Integrating with ChainLink's Cross-Chain Interoperability Protocol (CCIP), it serves as a Multi-Chain AI Compute Layer enabling apps and users to embed AI agents into their routines and earn rewards.
        </div>
    </div>
</section>