    {%- if site.social_links -%}
    <div class="section--community section">
      <div class="section__header">
        <h2 class="section__title">Join us</h2>
        <span class="section__subtitle"> Become a part of the Guru Network community! Connect with developers, innovators, and enthusiasts who are shaping the future of AI and blockchain integration. Join us to share ideas, collaborate on projects, and stay updated with the latest advancements.
        </span>
      </div>
      <div class="section__body">
        <div class="socials">
          <ul class="socials__list">
            {%- for entry in site.social_links -%}
            <li class="socials__item">
              {%- include social-item.html item = entry -%}
            </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  {%- endif -%}