<section class="section section--dark">
    <div class="section__header">
      <h2 class="section__title green">Key Features and Unique Aspects</h2>
    </div>
    <div class="key-features">
        <div class="feature-item">
            <div class="feature-title">AI-Driven Orchestration:</div>
            <div class="feature-value">Integrates AI and Web3 agents seamlessly into business processes.</div>
        </div>
        <div class="feature-item">
            <div class="feature-title">Cross-Chain Interoperability:</div>
            <div class="feature-value">Operates across multiple blockchain networks.</div>
        </div>
        <div class="feature-item">
            <div class="feature-title">User and Ecosystem Rewards: </div>
            <div class="feature-value">Rewards users and developers for network participation.</div>
        </div>
        <div class="feature-item">
            <div class="feature-title">Base Ecosystem for growth.</div>
            <div class="feature-value"></div>
        </div>
        <div class="feature-item">
            <div class="feature-title">Developer Toolset:</div>
            <div class="feature-value">Facilitates rapid development and deployment using the Flow Orchestrator.</div>
        </div>
    </div>
</section>