<section class="section section--dark features-block">
    <div class="section__header">
      <h2 class="section__title violet">Network Participants Ecosystem</h2>
      <span class="section__subtitle">The $GURU powers ecosystem's Atomic Franchise Mechanism between contributors and users.</span>
    </div>
    <div class="key-features">
        <div class="feature-item">
            <div class="feature-title">Gurus:</div>
            <div class="feature-value">AI Processors, Compute Node Runners, and Individual Agents code contributors.</div>
        </div>
        <div class="feature-item">
            <div class="feature-title">Ecosystem Projects:</div>
            <div class="feature-value">Projects and products combining multiple BBPA orchestrations and data scenarios to solve specific tasks. These projects can publish their AI Processors, GURU AI Assistants, and Individual Workers in an infrastructure-as-a-service catalog.</div>
        </div>
        <div class="feature-item">
            <div class="feature-title">Individual Agents: </div>
            <div class="feature-value">AI/Non-Custodial Web3 Processors run by Compute nodes and used in BBPM-defined processes.</div>
        </div>
        <div class="feature-item">
            <div class="feature-title">Integrators:</div>
            <div class="feature-value">Middle layer providing B2B adoption of the Guru AI Flow Orchestrator and Framework.</div>
        </div>
        <div class="feature-item">
            <div class="feature-title">Retail Users:</div>
            <div class="feature-value">Utilize the network as Web3 automations engine and AI assistants from their wallets and participate in "Compute by Earn" functionality when idle.</div>
        </div>
    </div>
</section>