{%- if page.partners.items -%} {% assign partners = page.partners.items %} {%-
else -%} {% assign partners = site.partners %} {%- endif -%}
<div class="partners partners-long-section">
  <div class="partners__header">
    <h2 class="partners__title">
      We have the support and backing of prominent
      <span class="accent">industry leaders.</span>
    </h2>
    <strong class="partners__subtitle">We secured a total of $6 million through two successful venture capital rounds to develop a sophisticated trading terminal and deliver dependable market data.</strong>
  </div>
  <div class="partners__body">
    <ul class="partners__list">
      {%- for partner in partners -%}
      <li class="partners__item long">
        <span class="partners__link"
          >{%- include partners/{{ partner.key }}.svg -%}</span
        >
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
