
<section class="section section--dark">
  <div class="section__header">
    <h2 class="section__title section__title--light">Our partners
    </h2>
  </div>
  <div class="section__body">
    <div class="section__content">
      <ul class="partners__list">
        {%- for partner in site.partners2 -%}
        <li class="partners__item">
          <a class="partners__link" href="{{ partner.url }}" target="_blank" rel="noopener noreferrer"
            >{%- include partners2/{{ partner.key }}.svg -%}</a
          >
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>
