
<div class="possibilities-section">
    <h2 class="section__title"><span class="white">Unleash the power of</span> Web3 <br>
        <span class="white">and</span><span class="ai"> AI Processors</span><span class="white"> powered by Base Layer 3 </span><br>
        Guru <span class="ai">Network</span>
    </h2>   
    <div class="text-block">
        <p>
            DexGuru has transformed from a DeFi trading terminal into the Guru Network, using AI and Web3 to revolutionize data analytics and process orchestration. 
        </p>
        <p>
            It Serves as Multi-Chain AI Compute layer on Base Layer 3 and enables advanced, real-time solutions for decentralized finance and data-driven AI decision-making.
        </p> 
    </div>
    <div class="section__body">
        <div class="possibilities">
          <ul class="possibilities__list">
            <li class="possibilities__item">
              <div class="possibilities-entry">
                <strong class="possibilities-entry__title"
                  >Price</strong>
    
                <span class="possibilities-entry__value"
                  ><span class="gray">$</span>0.0248
                </span>
              </div>
            </li>
    
            <li class="possibilities__item">
              <div class="possibilities-entry">
                <strong class="possibilities-entry__title"
                  >Volume</strong
                >
    
                <span class="possibilities-entry__value"
                ><span class="gray">$</span>2.69M
              </span>
              </div>
            </li>
    
            <li class="possibilities__item">
              <div class="possibilities-entry">
                <strong class="possibilities-entry__title"
                  >Liquidity</strong
                >
    
                <span class="possibilities-entry__value"
                ><span class="gray">$</span>1.69M
              </span>
              </div>
            </li>
    
            <li class="possibilities__item">
              <div class="possibilities-entry">
                <strong class="possibilities-entry__title"
                  >FDV</strong
                >
                <span class="possibilities-entry__value"
                ><span class="gray">$</span>25.8M
              </span>
              </div>
            </li>
            <li class="possibilities__item">
                <div class="possibilities-entry">
                  <strong class="possibilities-entry__title"
                    >TVL</strong
                  >
      
                  <span class="possibilities-entry__value"
                  ><span class="gray">$</span>372.7K
                </span>
                </div>
              </li>
          </ul>
        </div>
      </div>
    
</div>