@mixin container {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns:
    [fullwidth-start] minmax(var(--page-padding, 0), 1fr) [content-start] min(
      100% - 2 * var(--page-padding, 0),
      560px
    )
    [content-end]
    minmax(var(--page-padding, 0), 1fr)
    [fullwidth-end];
  gap: 32px 0;

  :where(& > *) {
    grid-column: content;
  }
}

@mixin element-preloader-direct {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover !important;
  visibility: visible !important;
}

@mixin element-preloader-direct-animated {
  @include element-preloader-direct;

  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' width='100' height='100' preserveAspectRatio='none meet' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop stop-color='rgba(255,255,255,0)' offset='25%25' /%3E%3Cstop stop-color='rgba(255,255,255,0.05)'  offset='50%25' /%3E%3Cstop stop-color='rgba(255,255,255,0)'  offset='75%25' /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect id='r' width='100%25' height='100%25' fill='url(%23g)' /%3E%3Canimate xlink:href='%23r' attributeName='x' from='-150%25' to='150%25' dur='2s' repeatCount='indefinite' /%3E%3C/svg%3E") !important;
}

@mixin element-preloader {
  position: relative !important;
  visibility: hidden !important;

  &::after {
    content: '' !important;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    max-width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    visibility: visible !important;

    @include element-preloader-direct;
  }
}

@mixin element-preloader-animated {
  @include element-preloader;

  &::after {
    @include element-preloader-direct-animated;
  }
}
