.container {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.disclaimer {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 40px;
  grid-template-areas: 'title icon' 'text icon';
  background: var(--color-dark-100);

  &Icon {
    grid-area: icon;
  }

  &Title {
    grid-area: title;
    color: var(--color-danger);
  }

  &Text {
    grid-area: text;
    color: var(--color-text-comment);
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 32px;
}

.counter {
  color: var(--color-danger);
}
