@container page-content (width<=640px) {
  body:has(.header) {
    [id='profile-bar'] {
      display: none !important;
    }
  }
}

.header {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  font-size: 16px;
  line-height: 1.5;
}

.title {
  flex: 0 1 auto;
  margin-inline-end: auto;
  font: inherit;
}

.address {
  color: var(--color-primary);
  font: inherit;
  display: flex;
  align-items: center;

  @container page-content (width<=1100px) {
    margin-inline-end: auto;
  }
}

.copy {
  color: var(--color-primary);
}

.backLink {
  &,
  .icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.price {
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 0.25em;

  .value {
    font: inherit;
  }
}

.info {
  flex: 0 0 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  flex-flow: row wrap;

  @container page-content (width>1100px) {
    display: contents;
  }
}

.link {
  padding: 0;
  border: 0;
}

.body {
  flex: 1 0 auto;
  background: inherit;

  @container page-content (width>1100px) {
    display: grid;
    gap: 16px;
    grid-template-areas:
      'stats chart swap'
      'stats activity swap';
    grid-template-columns: 360px auto 440px;
    margin-block-end: calc(-1 * var(--page-padding));
  }

  @container page-content (width<=1100px) {
    position: relative;
    min-height: calc(min(100vh, 100svh) - 56px - 220px);
    margin: calc(-1 * var(--page-padding));
    margin-block-start: 0;
  }
}

.stats {
  grid-area: stats;
  background: inherit;

  @container page-content (width>1100px) {
    &Content {
      position: sticky;
      top: 72px;
    }
  }

  @container page-content (width<=1100px) {
    padding: 0 var(--page-padding);
  }

  &Content {
    padding-block-end: var(--page-padding);
  }
}

.chart {
  grid-area: chart;
  background: inherit;
  display: flex;
  flex-flow: column;
  position: relative;

  @container page-content (width>1100px) {
    height: clamp(320px, 60vh, 560px);
  }

  @container page-content (width<=1100px) {
    height: calc(min(100vh, 100svh) - 56px - 220px);
  }

  &Content {
    height: auto !important;
    position: absolute !important;
    inset: 0 !important;
  }
}

.activity {
  grid-area: activity;
  position: relative;
  background: inherit;
  overflow: auto;

  @container page-content (width>1100px) {
    margin-inline-end: -16px;
  }

  @container page-content (width<=1100px) {
    &Content {
      padding: 0 var(--page-padding);
    }
  }
}

.swap {
  grid-area: swap;

  &Content {
    position: sticky;
    top: 72px;
  }
}

.chart,
.activity,
.stats,
.swap {
  @container page-content (width<=1100px) {
    &:not(.active) {
      visibility: hidden !important;
      opacity: 0 !important;
      inset: 0;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
    }
  }
}

.tabs {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--color-dark-40);
  margin-inline-end: auto;

  @container page-content (width>1100px) {
    order: -2;
  }
}

.asset {
  @container page-content (width>1100px) {
    order: -3;
  }
}

.tab {
  @container page-content (width>1100px) {
    &Stats {
      display: none !important;
    }
  }
}

.openSwap {
  @container page-content (width>1100px) {
    display: none !important;
  }
}
