.container {
  margin: 0 calc(-1 * var(--page-padding));
  background: #4530be;
  color: #fff;
}

.body,
.footer {
  padding: 0 -16px;
}

.footer {
  background: inherit;
  position: sticky;
  bottom: 0;
  padding: 24px 16px;
  display: flex;
  flex-flow: column;
  gap: 24px;

  @media (max-width: 720px) {
    padding-bottom: 64px;
  }
}

.entries {
  margin: 0;
  padding: 0;
  list-style: none;
}

.prompt,
.response {
  padding: 24px 16px;
  font-size: 16px;
  line-height: 28px;

  display: grid;
  grid-template-columns:
    [fullwidth-start] 1fr
    [content-start] min(100%, 960px)
    [content-end] 1fr
    [fullwidth-end];
}

.text {
  grid-area: content;
  overflow-wrap: break-word;
  padding-left: 56px;

  &:before {
    content: '';
    margin: 0 0 24px -56px;
    width: 32px;
    height: 32px;
    float: left;
    background: center center no-repeat;
    background-size: 32px;
  }
}

.prompt {
  & > .text {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='16' fill='%2312B886'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M15.999 9.125a3.125 3.125 0 1 0 0 6.25 3.125 3.125 0 0 0 0-6.25Zm-4.375 3.125a4.375 4.375 0 1 1 8.75 0 4.375 4.375 0 0 1-8.75 0Zm2.172 6.042H18.202c1.048 0 1.716 0 2.28.17a3.959 3.959 0 0 1 2.638 2.639c.17.563.17 1.231.17 2.28v.119a.625.625 0 1 1-1.25 0c0-1.208-.006-1.674-.116-2.036a2.709 2.709 0 0 0-1.806-1.806c-.362-.11-.827-.116-2.036-.116h-4.167c-1.208 0-1.674.006-2.036.116a2.708 2.708 0 0 0-1.805 1.806c-.11.362-.117.828-.117 2.036a.625.625 0 1 1-1.25 0v-.12c0-1.048 0-1.716.17-2.279a3.959 3.959 0 0 1 2.64-2.639c.563-.17 1.23-.17 2.28-.17Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }
  }
}

.response {
  background: #3826a4;

  & > .text {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='16' fill='%236046FF'/%3E%3Cpath fill='%230063A2' d='m13.943 23.052-.158 4.532 3.877.96.89-5.293-4.61-.199Z'/%3E%3Cpath fill='%23E88000' d='m8.18 13.18-1.147.499s-.785 4.033 1.03 6.151l1.201.11-1.085-6.759v-.001Z'/%3E%3Cpath fill='%23FFAD00' d='m9.658 11.415-1.572.708s-1.09 5.686 1.387 8.667l1.645.152-1.462-9.525.002-.002Z'/%3E%3Cpath fill='%23E88000' d='m23.51 11.465 1.196.361s1.253 3.914-.302 6.23l-1.18.252.286-6.841v-.002Z'/%3E%3Cpath fill='%23FFAD00' d='m21.834 9.887 1.643.518s1.75 5.52-.362 8.769l-1.616.342.335-9.63v.001Z'/%3E%3Cpath fill='%23E88000' d='m18.86 5.684-.448-1.169s-3.995-.957-6.19.766l-.163 1.196 6.8-.795v.002Z'/%3E%3Cpath fill='%23FFAD00' d='m20.56 7.235-.638-1.601S14.286 4.3 11.203 6.648l-.222 1.637 9.578-1.052.001.002Z'/%3E%3Cpath fill='%2300B0F3' d='M8.372 9.025s1.56 9.86 1.999 14.14c.322.771 10.417 1.177 11.801-.575.907-8.434.595-15.494.595-15.494-.254-1.509-14.194-.956-14.395 1.93Z'/%3E%3Cpath fill='%23F5F2F9' d='M11.488 16.475s3.061-.047 3.887-.255c.086-4.01-1.007-7.101-3.082-6.376-2.076.724-.805 6.63-.805 6.63ZM18.352 15.905s2.264.078 3.312-.153c.413-2.823.126-6.845-1.747-6.645-1.874.2-1.697 5.871-1.565 6.8v-.002Z'/%3E%3Cpath fill='%23232A32' d='m17.724 18.205-3.238-.099s-.841 3.275 1.56 3.453c2.217.11 1.115-1.553 1.678-3.355v.001Z'/%3E%3Cpath fill='%23F5F2F9' d='M14.54 17.881s-.153.71-.185 1.578c.942.087 2.324.102 3.366-.3.035-.4.093-.818.202-1.245l-3.383-.035v.002Z'/%3E%3Cpath fill='%23232A32' d='M12.96 14.578c.628.058 1.188-.447 1.25-1.129.063-.681-.395-1.28-1.023-1.338-.627-.057-1.187.448-1.25 1.13-.062.68.396 1.28 1.023 1.337ZM19.476 14.501c.628.058 1.187-.448 1.25-1.129.063-.681-.395-1.28-1.023-1.338-.628-.058-1.187.448-1.25 1.13-.063.68.395 1.28 1.023 1.337Z'/%3E%3Cpath fill='%230063A2' d='M11.443 21.996S9.706 12.8 8.838 8.217c-.276.245-.442.515-.462.808 0 0 1.56 9.86 1.998 14.14.322.771 10.418 1.177 11.802-.575l.044-.426c-2.61.415-6.987.832-10.777-.168Z'/%3E%3Cpath fill='%23D3CCE0' d='m15.986 17.9-.708-.007a12.562 12.562 0 0 0-.1 1.617c.235.006.482.004.733-.007-.023-.492.025-1.1.075-1.602ZM17.354 17.916l-.712-.008c-.07.527-.089 1.12-.09 1.545.25-.03.492-.073.73-.13-.01-.445.027-.962.072-1.407Z'/%3E%3Cpath fill='%230063A2' d='M11.393 9.965c-.008.052 1.295-1.584 2.922-.27-.228-1.797-2.56-2.083-2.922.27ZM18.909 9.143c-.002.014 1.239-1.448 2.41.066-.27-1.485-1.977-2.484-2.41-.066Z'/%3E%3Cpath fill='%2300B0F3' d='M23.908 29.913A15.928 15.928 0 0 1 16 32c-2.99 0-5.79-.82-8.184-2.248 1.85-2.516 4.531-4.277 8.387-4.393 3.665-.11 6.099 1.786 7.705 4.554Z'/%3E%3Cpath fill='%230063A2' d='M15.147 31.978c.083-2.984.053-5.27-.08-6.7.606-.117 1.565-.297 2.146-.195.573 1.954 1.024 4.274 1.37 6.71a16.113 16.113 0 0 1-3.436.185Z'/%3E%3C/svg%3E");
    }
  }
}

.variants {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.input {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  background: #6046ff;
  transition: 0.25s ease;

  &:has(.query:focus-visible) {
    background: #3826a4;
  }
}

.query {
  flex: 1 0 0;
  background: transparent;
  border: 0;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  color: #fff;
  outline: none;

  &::placeholder {
    color: #9488f0;
  }
}

.submit {
  background: none;
  border: 0;
  color: #fff;

  &:disabled {
    opacity: 0.25;
    color: #fff;
  }
}

.notPrinted {
  visibility: hidden;

  &:before {
    content: '';
    visibility: visible;
    display: inline-block;
    width: 0.3em;
    background: currentColor;
    height: 1.25em;
    vertical-align: text-bottom;
    animation: blink 0.75s infinite;
    user-select: none;
    margin-left: 0.25em;
    visibility: visible;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.processing {
  margin: 1em 0;
  display: flex;
  gap: 16px;
  --_delay: 0.5s;

  span {
    display: flex;
    gap: 16px;

    &::after,
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      animation: 0.5s infinite alternate;
      animation-name: processSize, processColor;
      animation-delay: var(--_delay);
    }
  }

  @keyframes processSize {
    from {
      transform: scale(1.5);
    }

    to {
      transform: scale(0.5);
    }
  }

  @keyframes processColor {
    from {
      background: #fff;
    }

    to {
      background: #9c8cff;
    }
  }

  span:first-child {
    &::before {
      --_delay: 0s;
    }
    &::after {
      --_delay: 0.25s;
    }
  }

  span:last-child {
    &::before {
      --_delay: 0.5s;
    }
    &::after {
      --_delay: 0.75s;
    }
  }
}
