.container {
  display: flex;
  flex-flow: column;
  gap: 16px;
  container-type: inline-size;
  container-name: warehouse-dashboard-analyzer;
  background: inherit;
}

.flow_part {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.title {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 16px 0;
}

.body {
  display: flex;
  flex-flow: column;
  gap: 16px;
  background: inherit;
}

.tabs {
  width: 100%;
}

.linkFlow {
  flex-direction: row-reverse;
}
