.container {
  padding: 16px 16px 36px;
  background: #6046ff;
  margin: 0 calc(-1 * var(--page-padding));
  overflow: hidden;

  display: grid;
  grid-template-columns:
    [fullwidth-start] 1fr [avatar-start] 132px [avatar-end] 40px
    [content-start] min(100%, 960px)
    [content-end] 40px 132px 1fr
    [fullwidth-end];

  @container warehouse-dashboard-analyzer (width > 768.1px) and (width < 1400px) {
    grid-template-columns:
      [fullwidth-start] 1fr [avatar-start] 132px [avatar-end] 40px
      [content-start] min(100% - 132px - 40px, 960px)
      [content-end] 1fr
      [fullwidth-end];
  }

  @container warehouse-dashboard-analyzer (width<768px) {
    padding: 0;
    display: block;
  }

  .toggle {
    border: 0;
    float: right;
    margin: -8px -8px 0.5em 1em;

    &Icon {
      transform: rotate(180deg);
      transition: 0.25s ease;

      &.toggled {
        transform: none;
      }
    }
  }
}

.body {
  grid-area: content;
  background: #3826a4;
  position: relative;

  @container warehouse-dashboard-analyzer (width>768.1px) {
    padding: 24px;

    &:before {
      content: '';
      border: 8px transparent solid;
      border-top-color: #3826a4;
      border-right-color: #3826a4;
      position: absolute;
      left: -16px;
      top: 40px;
    }
  }

  @container warehouse-dashboard-analyzer (width<768px) {
    padding: 16px;
  }
}

.response {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #9c8cff;
  display: flex;
  flex-flow: column;
  gap: 24px;

  &Subject {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 36px;
    color: #fff;

    &::before {
      content: '';
      float: left;
      margin: 0 12px 0 -36px;
      width: 24px;
      height: 24px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%236046FF' fill-rule='evenodd' d='M7.768 21.75H10a.75.75 0 0 0 0-1.5H7.8c-.852 0-1.447 0-1.91-.038-.453-.038-.714-.107-.911-.207a2.25 2.25 0 0 1-.984-.983c-.1-.198-.17-.459-.207-.913-.037-.462-.038-1.057-.038-1.909V7.8c0-.852 0-1.447.038-1.91.037-.453.107-.714.207-.911a2.25 2.25 0 0 1 .984-.984c.197-.1.458-.17.912-.207.462-.037 1.057-.038 1.909-.038h8.4c.852 0 1.447 0 1.91.038.453.037.714.107.912.207.423.216.767.56.983.984.1.197.17.458.207.912.037.462.038 1.057.038 1.909V10a.75.75 0 0 0 1.5 0V7.768c0-.813 0-1.469-.043-2-.045-.546-.14-1.026-.366-1.47a3.75 3.75 0 0 0-1.639-1.64c-.444-.226-.924-.32-1.47-.365-.531-.043-1.187-.043-2-.043H7.768c-.813 0-1.469 0-2 .043-.546.045-1.026.14-1.47.366a3.75 3.75 0 0 0-1.64 1.639c-.226.444-.32.924-.365 1.47-.043.531-.043 1.187-.043 2v8.464c0 .813 0 1.469.043 2 .045.546.14 1.026.366 1.47a3.75 3.75 0 0 0 1.639 1.64c.444.226.924.32 1.47.365.531.043 1.187.043 2 .043Zm9.702-.22a.75.75 0 0 0 1.06 0l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H17.8c-.852 0-1.447 0-1.91-.038-.453-.038-.714-.107-.912-.207a2.252 2.252 0 0 1-.983-.983c-.1-.198-.17-.459-.207-.913-.037-.462-.038-1.056-.038-1.909V12a.75.75 0 0 0-1.5 0v1.232c0 .813 0 1.469.043 2 .045.546.14 1.026.366 1.47a3.75 3.75 0 0 0 1.638 1.64c.445.226.925.32 1.471.365.531.043 1.187.043 2 .043h1.421l-1.72 1.72a.75.75 0 0 0 0 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E")
        center center no-repeat;
      background-size: 24px;
    }
  }

  &Text {
  }
}

.notPrinted {
  composes: notPrinted from './WarehouseDashboardAnalyzerChat.module.scss';
}

.processing {
  composes: processing from './WarehouseDashboardAnalyzerChat.module.scss';
}

.retry {
  composes: prompts from './WarehouseDashboardAnalyzerVariants.module.scss';
}

.container {
  @container warehouse-dashboard-analyzer (width>768.1px) {
    &::before {
      content: '';
      grid-area: avatar;
      background: center center no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 134 120'%3E%3Cellipse cx='65.53' cy='53.438' fill='%233826A4' rx='53.481' ry='53.438'/%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%2300B0F3' d='M82.582 61.096c.35.006 3.265.623 4.445 2.15 1.18 1.525-.906 4.889 4.444 11.065 5.344 6.176 16.935 7.112 20.756-2.773-.83-1.2-2.222-3.563-1.077-4.85 1.146-1.287 5.412-1.393 5.412-1.393l1.008 3.423s-3.196 1.466-.761 2.992 3.642-1.44 1.667-2.66l1.529-3.669s7.497 2.78 2.881 7.948c3.052.246 5.035-1.406 5.035-1.406 1.563 2.05 1.419 5.227 1.419 5.227-2.462.763-6.557.339-6.557.339s1.941 1.652 4.856 2.136c-.795 2.534-2.393 4.067-2.393 4.067-3.053-.272-6.805-1.831-6.805-1.831s-8.436 9.215-20.303 6.92C86.265 86.49 83.09 76.307 83.09 76.307l-.501-15.212h-.007Z'/%3E%3Cpath fill='%230063A2' d='M87.019 63.245c.398.517.425 1.247.494 2.23-.981 3.475-1.516 8.332.199 13.904 1.989 6.469 9.938 8.83 16.009 9.68-1.756.159-3.629.1-5.597-.286-11.873-2.295-15.05-12.472-15.05-12.472l-.5-15.212c.35.007 3.265.623 4.445 2.15v.006ZM118.468 69.05s3.786 1.372 2.95 5.93c-.837 4.558-3.334 6.024-5.344 4.399-2.009-1.62-.349-4.26-.349-4.26-3.334-2.036-1.317-6.528 1.838-6.402 0 0-3.197 1.467-.762 2.993 2.435 1.525 3.643-1.44 1.667-2.66Z'/%3E%3Cpath fill='%230063A2' d='M93.193 75.897c.425.338.87.65 1.337.941-2.702 1.97-4.705 4.572-5.734 7.497a24.67 24.67 0 0 1-.864-.776c.974-2.912 2.77-5.566 5.26-7.656v-.007ZM60.55 43.807l1.537 10.448h6.722l.92-10.448H60.55Z'/%3E%3Cpath fill='%23E88000' d='M59.226 12.679s.52-2.806.569-2.912c.233-.425 6.742-.69 7.716.205.213.823.405 2.627.405 2.627l-8.697.08h.007Z'/%3E%3Cpath fill='%23FFAD00' d='M54.356 15.817s-.158-2.839.466-3.808c.624-.968 13.979-1.95 17.594-.185 1.9 1.306 1.564 4.882 1.564 4.882l-19.624-.895v.006Z'/%3E%3Cpath fill='%23E88000' d='M47.483 30.956s-2.236.564-2.346.703c-.11.14-.288 3.377.988 5.308.315.192 2.16 0 2.16 0l-.809-6.01h.007Z'/%3E%3Cpath fill='%23FFAD00' d='M51.502 25.038s-4.267.411-4.65 3.019c-.385 2.667.164 9.732 1.838 11.808 1.29 1.095 4.76.578 4.76.578l-1.941-15.405h-.007Z'/%3E%3Cpath fill='%23E88000' d='M81.771 30.956s2.236.564 2.346.703c.11.14.288 3.377-.988 5.308-.315.192-2.16 0-2.16 0l.81-6.01h-.008Z'/%3E%3Cpath fill='%23FFAD00' d='M77.758 25.038s4.267.411 4.651 3.019c.384 2.667-.165 9.732-1.838 11.808-1.29 1.095-4.76.578-4.76.578l1.94-15.405h.007Z'/%3E%3Cpath fill='%2300B0F3' d='M48.711 17.993c.014.14 2.86 22.099 2.497 26.909.418 3.118 24.364 2.8 25.564 1.326 1.46-6.282 2.757-27.366 2.394-29.29-.83-2.613-31.408-6.833-30.455 1.055Z'/%3E%3Cpath fill='%23232A33' d='M58.608 28.17c-1.351 1.446-3.635 1.46-5.13.18-.316-.273-.556.497-.577.63-.068.378-.027.849.295 1.134 1.736 1.493 4.328 1.267 5.837-.352.377-.398.096-2.156-.432-1.592h.007ZM75.962 28.322c-1.372 1.141-3.485 1.095-4.788-.106-.597-.55-.905 1.194-.494 1.579 1.64 1.506 4 1.546 5.714.12.425-.359.206-2.117-.432-1.593Z'/%3E%3Cpath fill='%23F5F2F9' d='M57.503 34.36s11.242-.644 14.439.305c.171 3.025-.487 4.186-2.188 4.796-1.702.61-8.328.584-10.968-.49-2.305-.936-1.283-4.618-1.283-4.618v.007Z'/%3E%3Cpath fill='%23D3CCE0' d='M69.432 34.287c-.096 1.778-.192 3.556-.295 5.34.254-.046.466-.099.63-.159.104-.04.207-.08.303-.119.089-1.659.185-3.317.274-4.976-.288-.033-.59-.06-.912-.086ZM59.83 34.254c-.337.013-.645.026-.92.04.035 1.585.069 3.178.096 4.763.275.1.583.186.926.265l-.103-5.068ZM63.019 34.167c-.316 0-.631.013-.933.02 0 1.83.014 3.662.014 5.493.308.033.617.06.932.086 0-1.864-.013-3.735-.013-5.599ZM66.668 39.846c-.035-1.897-.076-3.794-.11-5.685-.302 0-.61-.007-.92-.014.035 1.904.076 3.809.11 5.712.316 0 .625 0 .92-.013Z'/%3E%3Cpath fill='%230063A2' d='M76.751 46.268c-8.059.962-23.897-.69-23.862-3.861-.055-2.94-2.23-13.813-3.752-21.057.782 6.362 2.36 19.909 2.078 23.564.412 3.098 24.082 2.8 25.536 1.354Z'/%3E%3Cpath fill='%230063A2' d='M60.549 40.8s4.321.618 8.306.206c-3.217 1.878-7.497.505-8.306-.205ZM55.707 23.725s3.773-1.446 6.221.272c-.624-3.23-4.973-3.138-6.221-.272ZM68.828 24.004s2.085-1.904 5.151-.365c-1.042-2.8-4.89-2.866-5.15.365Z'/%3E%3Cpath fill='%2300B0F3' d='M49.417 61.096c-.35.006-3.265.623-4.445 2.149-1.18 1.526.905 4.89-4.445 11.066-5.343 6.176-16.935 7.112-20.755-2.773.83-1.201 2.222-3.563 1.077-4.85-1.146-1.287-5.412-1.393-5.412-1.393l-1.008 3.423s3.196 1.466.76 2.992c-2.434 1.526-3.641-1.44-1.666-2.66l-1.53-3.669s-7.496 2.78-2.88 7.948c-3.053.245-5.035-1.406-5.035-1.406-1.55 2.043-1.413 5.22-1.413 5.22 2.463.763 6.557.339 6.557.339s-1.94 1.652-4.856 2.136c.796 2.534 2.394 4.067 2.394 4.067 3.052-.272 6.804-1.831 6.804-1.831s8.437 9.215 20.303 6.92C45.733 86.477 48.916 76.3 48.916 76.3l.5-15.212v.007Z'/%3E%3Cpath fill='%230063A2' d='M44.98 63.245c-.399.517-.426 1.247-.495 2.23.981 3.475 1.516 8.332-.199 13.904-1.996 6.469-9.938 8.83-16.009 9.68 1.756.159 3.629.1 5.597-.286 11.873-2.295 15.05-12.472 15.05-12.472l.5-15.212c-.35.007-3.265.623-4.445 2.15v.006ZM13.53 69.05s-3.787 1.372-2.95 5.93c.83 4.551 3.333 6.024 5.343 4.399 2.01-1.62.35-4.26.35-4.26 3.333-2.036 1.317-6.528-1.838-6.402 0 0 3.196 1.467.76 2.993-2.427 1.525-3.641-1.44-1.666-2.66Z'/%3E%3Cpath fill='%230063A2' d='M38.798 75.897c-.425.338-.87.65-1.337.941 2.702 1.97 4.705 4.572 5.734 7.497.302-.259.59-.517.864-.776-.974-2.912-2.77-5.566-5.26-7.656v-.007Z'/%3E%3Cpath fill='%2300B0F3' d='m47.305 60.127 1.831 33.191c7.744 3.025 33.987 1.56 34.611.458.418-3.025.446-32.547.446-32.547s-4.088-10.051-18.554-9.991c-14 .06-18.334 8.896-18.334 8.896v-.007Z'/%3E%3Cpath fill='%230063A2' d='M66.448 73.78c3.746 0 6.783-3.344 6.783-7.47 0-4.126-3.037-7.47-6.783-7.47-3.747 0-6.784 3.344-6.784 7.47 0 4.126 3.037 7.47 6.784 7.47Z'/%3E%3Cpath fill='%230063A2' d='M65.66 51.23c-.57 0-1.125.02-1.66.053.802 6.237 2.73 23.923 1.81 43.826h1.9c-.13-5.115-.76-31.572-.088-43.819-.631-.04-1.29-.06-1.962-.053v-.007Z'/%3E%3Cpath fill='%23C6EBD8' d='M71.351 66.501c0 3.007-2.197 5.44-4.906 5.44-2.708 0-4.906-2.433-4.906-5.44 0-3.007 2.198-5.44 4.906-5.44 2.709 0 4.906 2.433 4.906 5.44Z'/%3E%3Cpath fill='%23A4DBCF' d='M65.594 68.068c-1.606-1.14-2.142-2.714-2.058-4.287a4.439 4.439 0 0 0-1.104 2.961c0 2.37 1.79 4.293 3.999 4.293 1.271 0 2.4-.638 3.137-1.628-1.464-.117-2.886-.563-3.974-1.332v-.007Z'/%3E%3Cpath fill='%230063A2' d='m49.088 91.984.075 1.327c7.744 3.025 33.987 1.559 34.611.457.103-.75.186-3.13.247-6.282-3.505 1.2-7.847 2.52-7.847 2.52s1.564-1.372 3.334-5.134c-10.474 4.976-20.714 1.22-30.413 7.105l-.007.007Z'/%3E%3Cpath fill='%2300B0F3' d='M52.407 94.458c2.051-1.751 4.863-3.37 8.533-3.894 1.392 0 3.971.975 7.627 4.531 1.214 1.181 2.552 2.647 4.006 4.452 7.957 9.905 19.686 11.125 18.231 3.178-1.076-5.865-8.196-7.736-11.859-8.313 1.928-.272 3.58-.63 4.78-1.101l.248-4.525c5.377.504 20.584 3.171 19.987 17.116-.72 16.931-19.274 16.871-31.003 8.923-11.729-7.947-20.824-13.507-24.912-14.854.048-.219 1.413-3.005 4.355-5.52l.007.007Z'/%3E%3Cpath fill='%230063A2' d='M88.822 107.508c1.605-.703 2.442-2.296 1.983-4.783-1.077-5.865-8.197-7.736-11.86-8.313 1.928-.272 3.58-.63 4.781-1.101l.247-4.525c2.113.2 5.755.73 9.349 2.156 3.601 4.936 6.845 12.798-4.513 16.566h.013Z'/%3E%3Cpath fill='%2300B0F3' d='M80.476 94.458c-2.05-1.751-4.863-3.37-8.532-3.894-1.393 0-3.972.975-7.628 4.531-1.214 1.181-2.551 2.647-4.006 4.452-7.956 9.905-19.685 11.125-18.231 3.178 1.077-5.865 8.197-7.736 11.86-8.313-1.928-.272-3.581-.63-4.781-1.101l-.247-4.525c-5.378.504-20.584 3.171-19.988 17.116.72 16.931 19.274 16.871 31.003 8.923 11.73-7.947 20.825-13.507 24.913-14.854-.048-.219-1.413-3.005-4.356-5.52l-.007.007Z'/%3E%3Cpath fill='%230063A2' d='M81.188 101.577c-3.752-5.473-12.147-7.941-14.527-8.545a28.888 28.888 0 0 0-2.353 2.064c-1.214 1.18-2.552 2.647-4.006 4.451a26.935 26.935 0 0 1-5.075 4.883 20.76 20.76 0 0 1 5.199 10.051c8.772-5.931 16.03-10.489 20.762-12.904ZM44.06 107.508c-1.605-.703-2.442-2.296-1.982-4.783 1.077-5.865 8.197-7.736 11.86-8.313-1.928-.272-3.581-.63-4.781-1.101l-.247-4.525c-2.113.2-5.755.73-9.35 2.156-3.6 4.936-6.845 12.798 4.514 16.566h-.014Z'/%3E%3Cpath fill='%2300B0F3' d='M76.428 116.849c2.901-2.826 5.185-6.01 6.05-9.752-3.217-1.214-6.839-3.735-9.898-7.55-1.454-1.804-2.792-3.27-4.006-4.451-3.663-3.556-6.235-4.532-7.627-4.532-3.67.525-6.482 2.143-8.533 3.895-2.942 2.514-4.307 5.3-4.355 5.52 4.088 1.346 13.183 6.906 24.912 14.853a30.03 30.03 0 0 0 3.457 2.017Z'/%3E%3Cpath fill='%230063A2' d='M90.037 119.98a19.015 19.015 0 0 0-2.812-12.074c-.5.046-1.042.039-1.612-.02 2.195 2.833 3.54 6.163 3.67 9.619.034.836-.014 1.672-.117 2.501.295 0 .583-.006.871-.02v-.006ZM90.031 100.515a7.65 7.65 0 0 1 .68 1.772c3.902-.279 7.874.491 11.241 2.322.714.384 1.386.816 2.024 1.28.027-.69.013-1.353-.028-1.99a20.549 20.549 0 0 0-1.186-.763c-3.725-2.196-8.307-3.085-12.73-2.621ZM31.372 103.109c3.265-1.692 7.27-2.024 10.864-1.068a7.654 7.654 0 0 1 .68-1.659c-4.143-1.254-8.883-.822-12.539 1.393-.46.279-.898.584-1.31.903-.103.67-.158 1.366-.178 2.103a12.78 12.78 0 0 1 2.476-1.672h.007ZM41.606 117.233c.212-3.33 1.337-6.581 3.19-9.48a4.253 4.253 0 0 1-1.133-.451c-1.797 3.164-2.819 6.66-2.99 10.216a22.225 22.225 0 0 0 0 2.243c.302.046.603.086.912.119a22.317 22.317 0 0 1 .028-2.647h-.007Z'/%3E%3C/g%3E%3Cpath fill='%233826A4' d='M133.333 13.167c0 1.277-.435 2.305-1.303 3.083-.868.722-1.968 1.083-3.3 1.083-1.563 0-2.866-.5-3.908-1.5-.984-1-1.477-2.472-1.477-4.416 0-1.834.261-3.39.782-4.667.579-1.333 1.245-2.444 1.998-3.333.81-.945 1.621-1.695 2.431-2.25.869-.556 1.621-.945 2.258-1.167l2.171 2.917c-1.273.61-2.316 1.444-3.126 2.5-.753 1-1.129 2.277-1.129 3.833.231-.056.55-.083.955-.083 1.158 0 2.056.389 2.692 1.166.637.778.956 1.723.956 2.834Zm-12.68 0c0 1.277-.434 2.305-1.302 3.083-.869.722-1.969 1.083-3.301 1.083-1.563 0-2.865-.5-3.908-1.5-.984-1-1.476-2.472-1.476-4.416 0-1.834.261-3.39.782-4.667.579-1.333 1.244-2.444 1.997-3.333.811-.945 1.621-1.695 2.432-2.25.868-.556 1.621-.945 2.258-1.167l2.171 2.917c-1.274.61-2.316 1.444-3.127 2.5-.752 1-1.129 2.277-1.129 3.833.232-.056.55-.083.956-.083 1.158 0 2.055.389 2.692 1.166.637.778.955 1.723.955 2.834Z'/%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M2.666 9.375h126.667V120H2.666z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      width: 132px;
      height: 120px;
    }

    &.toggled {
      padding-bottom: 16px;

      &::before {
        margin-bottom: -200px;
      }
    }
  }
}
