.container {
  flex: 1 0 100%;
  position: relative;
  overflow: hidden;
  margin: -24px calc(-1 * var(--page-padding));
}

.body {
  border: 0;
  position: absolute;
  left: 0;
  top: -92px;
  width: 100%;
  height: calc(100% + 92px);
}

body:has(.body) {
  [id='profile-bar'] {
    display: none !important;
  }
}