.container {
  background: rgb(var(--color-bg-10));
  height: 40px;
  flex: 0 0 auto;

  display: flex;
  align-items: stretch;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}

.sections {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  overflow: auto;
  overflow: overlay;
}

.nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  &Link {
    height: 32px;
    width: 26px;
    display: grid;
    place-items: center;
    padding: 0;
    border: 0;
  }

  &Icon {
    width: 9px;
    height: 14px;
  }
}

.entry {
  &:not(:last-child) {
    border-right: 1px rgb(var(--color-bg-30)) solid;
  }
}

.wallet {
  margin-left: auto;

  &Balance {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(var(--color-comment));

    &Value {
      color: rgb(var(--color-success));

      @media (max-width: 640px) {
        display: none;
      }
    }
  }

  &Button {
    background-color: rgb(var(--color-accent));
    color: rgba(var(--color-bg-10), 1);
    border: none !important;
    padding: 4px 8px !important;
    &Connected{
      background-color: rgba(var(--color-bg-wallet), 1) !important;
      &:hover{
        background-color: rgba(var(--color-bg-wallet-hover), 1) !important
      }
    }
  }
  &Address{
    color: rgb(var(--color-light));
    @media (max-width: 640px) {
      display: none;
    }
  }
  &Connect{
    font-size: 14px;
    line-height: 24px;
  }
  &Content{
    display: flex;
    align-items: center;
    @media (min-width: 641px) {
      gap: 8px
    }
  }
  &Caption{
    display: flex;
    flex-flow: column;
  
    &Connected{
      span{
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

.logo{
  &:hover,
  &:focus-visible{
    background: rgb(var(--color-bg-20));
    path{
      fill: rgb(var(--color-accent));
      transition: .25s ease;
    }
  }
}