.container {
  width: var(--_icon-size, 24px);
  aspect-ratio: 1;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  path {
    fill: currentColor;
  }
}
