.container {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.query {
  border: 0;
  background: var(--color-dark);
  color: var(--color-light);
  padding: 16px;
  height: 56px;
  border-radius: 16px;
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 2px;
}

.hilite {
  background: var(--color-dark-90);
}
