.container {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.header,
.body {
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
  align-items: center;
}

.date {
  color: var(--color-text-comment);
  margin-inline-end: auto;
}

.tx {
  color: var(--color-link);
}

.icon {
  display: block;
  border-radius: 8px;
}
