@import '@/styles/mixins';

.container {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.containerDetails {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.details {
  background-color: var(--color-dark-100);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-flow: column;
  gap: 2px;
}

.label {
  font-size: 14px;
  color: var(--color-dark-30);
}

.name {
  font-size: 16px;
  color: var(--color-light);
}

.containerImg {
  position: relative;
  display: flex;
}

.img {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  border-radius: 16px;
  background-color: var(--color-dark-100);

  &.loading {
    @include element-preloader-direct-animated;
  }
}

.containerButton {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 16px 0 0 16px;
  border-radius: 16px 0 0 0;
  background-color: var(--color-dark-80);
}

.regenerate {
  border-radius: 16px;
  padding: 16px;
  background: var(--color-dark-30);
  border: none;
  cursor: pointer;
  color: var(--color-light);
  width: 56px;
  height: 56px
}

.icon {
  width: 24px;
  height: 24px
}