.container {
  color: rgb(var(--color-bg-50));
  white-space: nowrap;

  font-size: 16px;
  font-weight: 400;
}

.positive {
  color: rgb(var(--color-positive));
}

.negative {
  color: rgb(var(--color-negative));
}
