.comment {
  color: rgb(var(--color-comment));
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.timer {
  margin-left: auto;
  color: rgb(var(--color-danger))
}

.caption {
  width: 5em;
  white-space: nowrap;
}