.container {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  text-align: center;
  gap: 32px;
  margin: 0 0 -16px;
  padding: 0 0 16px;
}

.header {
  display: flex;
  flex-flow: column;
  gap: 16px;
  align-items: center;
}

.icon {
  width: 96px;
  height: 96px;
  border-radius: 48px;
}

.footer {
  position: sticky;
  bottom: 0;
  margin: -16px -16px -24px;
  padding: 16px 16px 24px;
  background: var(--color-dark-80);
  border-radius: 24px 24px 0 0;
}

.body {
  flex: 0 1 auto;
  overflow: auto;
  margin-bottom: auto;
  margin: 0 calc(-1 * var(--page-padding));
  padding: 0 var(--page-padding);
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 16px;
}

.loader {
  margin: auto;
}

.list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 16px;
  text-align: start;
}

.item {
}

.footer {
  flex: 0 0 auto;
}

.message {
  margin: 0 auto;
}

.display {
  width: 100% !important;
}

.blockchain {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  color: var(--color-dark-20);
  font-size: 16px;
}

.link {
  color: var(--color-link);
  word-break: break-all;
}

.scanLink {
  color: var(--color-link);
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;

  &::before {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 16'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23343D48' d='M8.5 16a8 8 0 1 0 0-16 8 8 0 0 0 0 16Z'/%3E%3Cpath fill='url(%23b)' fill-rule='evenodd' d='M8.505 2.76c-.576 0-1.027.227-1.324.594-.289.356-.41.813-.41 1.248 0 .461.182.979.462 1.383.275.396.714.776 1.272.776s.996-.378 1.271-.774c.281-.404.462-.922.462-1.385 0-.434-.115-.891-.402-1.249-.298-.37-.75-.593-1.331-.593Zm-.943 1.842c0-.3.084-.567.233-.75.139-.172.358-.301.71-.301.362 0 .58.13.715.298.146.181.228.447.228.753 0 .278-.117.642-.32.934-.21.3-.44.434-.623.434-.182 0-.413-.134-.622-.435-.204-.294-.321-.657-.321-.933Z' clip-rule='evenodd'/%3E%3Cpath fill='url(%23c)' d='M5.869 8.546c-.801-.09-1.463.551-1.463 1.207 0 .652.514 1.245 1.482 1.245.347 0 .703-.153 1.093-.437.455-.331.832-.72 1.21-1.11.378-.39.757-.781 1.215-1.115.454-.33.973-.588 1.558-.588 1.334 0 2.272.88 2.272 2.035 0 1.151-1.096 2.13-2.34 1.992-.5-.055-1.085-.223-1.556-.682l.552-.566c.3.292.691.42 1.09.463h.001c.8.09 1.463-.552 1.463-1.207 0-.653-.515-1.245-1.482-1.245-.348 0-.703.153-1.093.437-.455.33-.832.72-1.21 1.11-.378.39-.757.781-1.215 1.115-.454.33-.973.588-1.558.588-1.334 0-2.272-.88-2.272-2.035 0-1.151 1.096-2.13 2.34-1.993.5.055 1.085.224 1.556.683l-.552.566c-.3-.292-.691-.42-1.09-.463h-.001Z'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='3.616' x2='14.844' y1='2.76' y2='5.751' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239488F0'/%3E%3Cstop offset='1' stop-color='%233AEAB5'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='3.616' x2='14.844' y1='2.76' y2='5.751' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239488F0'/%3E%3Cstop offset='1' stop-color='%233AEAB5'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.5 0h16v16H.5z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
      center center no-repeat;
    background-size: 16px;
  }
}

.image {
  display: block;
  border-radius: 16px;
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.video {
  display: block;
  border-radius: 16px;
  width: 100%;
  height: auto;
  object-fit: contain;
}
