.container {
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.link {
  display: grid;
  place-items: center;
  border: 1px var(--color-dark-30) solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-text-comment);

  &:hover,
  &:focus-visible {
    border-color: var(--color-light);
    color: var(--color-light);
  }
}

.icon {
  width: 24px;
  height: 24px;
}
