.container {
  text-align: left;
  display: flex;
  gap: 24px;
  align-items: center;
}
.illustration {
  flex: 0 0 40px;
  aspect-ratio: 1;
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.body {
  display: flex;
  gap: 16px;
  flex: 1 1 0;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.description {
  color: var(--color-text-comment);
}

.status {
  &__ready {
    .title {
      color: #00d964;
    }
  }
  &__loading {
    .description {
      color: #fff;
    }
  }
}

.icon {
  position: absolute;
  right: -10px;
  bottom: -6px;
  --_icon-size: 20px;
  color: #00d964;
}
