# ignore all files
**

# exclusion
!/bot/
!/camunda_client/
!/migrations/
!/admin/
!/async_fastapi_jwt_auth/
!/flow_api/
!/aioredis
!/services
!/scripts
!/configs

!/alembic.ini
!/poetry.lock
!/pyproject.toml
!/launch.sh
