.container {
  flex: 1 0 auto;
  gap: 16px;
  display: flex;
  flex-flow: column;
}

.body {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.error {
  margin: auto;
}

.entry {
  display: flex;
  flex-flow: column;
  gap: 24px;
}
