.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.generateContainer {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.tabs {
  border-bottom: 1px solid var(--color-dark-40);
  margin: 32px -16px 0;
  padding: 0 8px;
}

.tab {
  font-size: 20px;
  font-weight: 500;
  padding: 4px 8px 8px 8px;
  display: inline-block;
  color: var(--color-dark-40);
  cursor: pointer;
  &.active {
    border-bottom: 2px solid var(--color-light);
    color: var(--color-light);
  }
}
.message {
  font-size: 14px;
  padding: 32px 0 16px 0;
  text-align: center;
  color: var(--color-danger);
}

.describeTitle {
  font-size: 14px;
  color: var(--color-text-comment);
}

.upload {
  display: flex;
  gap: 16px;
  flex-flow: column;
  justify-content: center;
}

.uploadContainer {
  display: flex;
  flex-flow: column;
  padding: 16px;
  background-color: var(--color-dark-100);
  border-radius: 16px;
  gap: 16px;
}

.uploadRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploadLabel {
  font-size: 14px;
}

.uploadImg {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.loading {
  margin: auto;
  aspect-ratio: 1;
}
