.container {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.footer {
  align-self: flex-end;
}
