.container {
  background: inherit;

  @media (min-width: 640.1px) {
    margin: auto;
    width: clamp(320px, 100%, 640px);
  }

  @media (max-width: 640px) {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    margin: calc(var(--page-padding, 0) * -2) calc(-1 * var(--page-padding))
      calc(-1 * var(--page-padding));
    border-radius: 0;
  }
}

.body {
  display: flex;
  flex-flow: column;
  gap: 8px;
  width: 100%;
}

.message {
  margin: auto;
}
