.container {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-areas: 'image body' 'image footer';
  gap: 16px;
  background: var(--color-dark-60);
  border-radius: 16px;
  padding: 16px;
}

.image {
  grid-area: image;
  margin: -16px 0 -16px -16px;
  border-radius: 16px 0 0 16px;
}

.body {
  text-align: end;
}

.footer {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 8px;
}

.action {
  flex: 1 0 40%;
}

.send {
  background: var(--color-dark-80);
}

.token {
  &Symbol {
    color: var(--color-text-comment);
    font-weight: 400;
  }
}

.meta {
  color: var(--color-text-comment);
}
