.container {
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.item {
  flex: 1 0 max(100px, 30%);

  &.burns {
    flex-basis: 100%;
  }
}

.delta {
  font-weight: 700;

  &.positive {
    color: var(--color-success);
  }
  &.negative {
    color: var(--color-danger);
  }
}

.comment {
  color: var(--color-text-comment);
  font-weight: 400;
}
