.container {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  gap: 32px;
}

.body {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.sell {
  order: 1;
}

.buy {
  order: 3;
}

.switch {
  order: 2;
  align-self: flex-end;
  margin: -24px -16px -24px 0;
  position: relative;
  opacity: 0;
  visibility: hidden;

  &.hasTokens {
    opacity: 1;
    visibility: visible;
  }
}
